
.main-coursel{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.title{
    padding-top: 40px;
}
#exp{
    color: #C67C4E;
}
.coursel-image{
    padding-left: 100px;
   
}
 #order{
   background-color: #C67C4E;
}